.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8rem;
  /* padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 8rem; */
  min-height: 100vh;
  /* width: 1000px; */
}

.description {
  /* text-align: center; */
  /* min-width: 700px; */
  width: 700px;
}

.navbar {
  text-align: center;
  color: #6666ff;
  /* vertical-align: middle;  */
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: solid #e2e6eb;

  display: flex;
  align-items : center;
  justify-content: center;

  background-color: white;
  z-index: 999;
  
  /* font-family: Poppins, sans-serif;
  font-size: 24px;
  font-weight: bold; */
    /* display: flex;
    align-items: center; 
    justify-content: center; */
}

.navbar h1 {
  vertical-align: middle; 
}

/* TODO: Make Mobile Responsive */

/* Tablet and Smaller Desktop */
/* @media (min-width: 701px) and (max-width: 1120px) {
  .main {
    padding: 0;
  }
} */

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  .main {
    /* padding-top: 0; */
    max-width: 100vw;
    flex-direction: row;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .main {
    /* padding-top: 0; */
    padding: 0;
    max-width: 100vw;
    flex-direction: row;
  }
}
