.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  /* width: 1000px; */
}

.description {
  /* text-align: center; */
  min-width: 700px;
}

.navbar {
  text-align: center;
  color: #6666ff;
}

/* TODO: Make Mobile Responsive */

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  /* .grid {
    grid-template-columns: repeat(2, 50%);
  } */
}
